body,
p,
h1,
ul,
li,
blockquote {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Volkorn", Georgia, 'Times New Roman', Times, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 4fr 300px;
  grid-template-areas: 
    "header header header"
    "sidenav content anuncios"
    "footer footer footer"
  ;
}

.header {
  grid-area: header;
  display: grid;
  background-image: linear-gradient(to right, #8844ee, #807DFB);
  padding: 30px;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  max-width: 200px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.header nav a {
  display: block;
  padding: 10px;
  color: white;
  font-size: 1.125em;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 5px;
  transition: 0.1s;
}

.header nav a:hover {
  background-color: rgba(0, 0, 0, .5);
}

.sidenav {
  grid-area: sidenav;
  background-color: #fafbfc;
  padding: 30px;
}

.sidenav li a {
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, .15);
  transition: .1s ease-out;
}

.sidenav li a:hover {
  background-color: #807DFB;
}

.content {
  grid-area: content;
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.col-wide {
  grid-column: 1 / -1;
}

.row-wide {
  grid-row: span 2;
}

.image-align-end {
  align-self: end;
}

.anuncios {
  grid-area: anuncios;
  background-color: #fafbfc;
  display: grid;
  align-content: start;
  padding: 30px;
  gap: 30px;
}

.footer {
  grid-area: footer;
  background-image: linear-gradient(to right, #8844ee, #807DFB);
}

.footer p {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 30px;
}